.mainGrid {
    font-size: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    /* grid-auto-rows: 170px; */
    /* grid-auto-columns: 100px; */
}

.cell {
    border: solid white 3px;
    background: lightblue;
    aspect-ratio: 1;
    font-size: 5rem;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.featureBlock {
    border: solid white 3px;
    background: white;
    grid-column: 3/5;
    grid-row: 2;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.verticalBlock {
    border: solid white 3px;
    background: orange;
    grid-column: 1;
    grid-row: 1/3;
    writing-mode: vertical-rl;
    /* text-orientation: sideways; */
    transform: rotate(180deg);
    display: flex;
    align-items: center; 
    justify-content: center;
}

/* //template areas */
